@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.price-switch {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative; }
  .price-switch__label {
    margin: 0 2rem;
    color: #b3b5c6;
    margin: 0 3rem; }
  .price-switch__selector {
    position: relative;
    top: .2rem;
    width: 5rem;
    height: 3rem;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    border: 1px solid rgba(246, 246, 254, 0.4);
    display: inline-block;
    border-radius: 100px;
    transform: translateY(-0.4rem); }
    .price-switch__selector::before {
      content: '';
      display: inline-block;
      background-color: #fff;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      position: absolute;
      top: .2rem;
      right: .2rem;
      transition: all .4s ease; }
  .price-switch__toggle {
    position: absolute;
    top: .5rem;
    width: 5rem;
    height: 3rem;
    border-radius: 100px;
    z-index: 2;
    opacity: 0; }
    .price-switch__toggle:hover {
      cursor: pointer; }
  .price-switch__toggle:checked + .price-switch__selector::before {
    right: 2.3rem; }
  .price-switch__toggle:hover + .price-switch__selector {
    background-color: #b6b9ed;
    background-image: none; }

.price-container {
  margin: 4rem auto 0;
  display: inline-block;
  width: 80%;
  max-width: 500px; }

.price-card {
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0.1rem 0.4rem rgba(51, 51, 51, 0.2);
  color: #6d708d;
  margin-bottom: 4rem; }
  .price-card--light {
    background-color: #fff; }
    .price-card--light__price {
      color: #494c5f; }
  .price-card--dark {
    background: linear-gradient(to right bottom, #a3a8f0, #696fdd);
    color: #fff; }
    .price-card--dark__price {
      color: #fff; }
  .price-card__name {
    font-size: 2rem;
    padding-bottom: 2rem; }
  .price-card__price {
    font-size: 6rem;
    padding-bottom: 1.5rem; }
    .price-card__price--alt {
      font-size: 6rem;
      padding-bottom: 1.5rem;
      display: none; }
  .price-card__feature-list {
    list-style: none; }
  .price-card__feature-item {
    display: block;
    width: 90%;
    font-weight: 600;
    margin: 0 auto;
    padding: 1rem 0; }
  .price-card--light .price-card__feature-item {
    border-bottom: 1px solid rgba(102, 102, 102, 0.2); }
    .price-card--light .price-card__feature-item:first-of-type {
      border-top: 1px solid rgba(102, 102, 102, 0.2); }
  .price-card--dark .price-card__feature-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .price-card--dark .price-card__feature-item:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.2); }

.btn {
  display: inline-block;
  width: 90%; }
  .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    margin: 2rem 0 0;
    font-size: 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 400; }
  .btn:hover {
    cursor: pointer; }
  .btn--dark {
    color: #fff;
    background: linear-gradient(to right, #a3a8f0, #696fdd); }
    .btn--dark:hover {
      background: none;
      background-color: #fff;
      color: #696fdd;
      border: 1px solid #696fdd;
      margin-top: 1.8rem; }
  .btn--light {
    background-color: #fff;
    color: #696fdd; }
    .btn--light:hover {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      margin-top: 1.8rem; }

.bg-img {
  position: absolute;
  z-index: -1; }
  .bg-img--top {
    top: 0;
    right: -200px; }
  .bg-img--bottom {
    display: none;
    bottom: 0;
    left: 0; }

body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #f6f6fe;
  text-align: center;
  overflow-x: hidden; }

.price-heading {
  display: block;
  margin: 4rem 0 3rem;
  color: #6d708d; }

@media (min-width: 600px) {
  .bg-img--top {
    right: 0; } }

@media (min-width: 975px) {
  .price-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .price-card {
    min-width: 30rem; }
    .price-card:nth-child(even) {
      width: 33rem;
      height: 50rem;
      padding: 5.5rem 2rem; }
  .bg-img--bottom {
    display: block; } }
