// colors
$bgcolor: hsl(240,78%,98%);
$col-grad-left:hsl(236,72%,79%);
$col-grad-right: hsl(237,63%,64%);
$col-txt-light: hsl(234,14%,74%);
$col-txt-med: hsl(233,13%,49%);
$col-txt-dark: hsl(232,13%,33%);

$color-black: #000;
// 
// fonts
$font-wt-primary: 700;
$font-fam-primary: 'Montserrat', sans-serif;
// 